<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel = "stylesheet" href = "static/style.css">
    <title>Monthly Income</title>
</head>
<body>
    <div class="container-md pt-5 mt-5">
        <div class="card" style="width: 75rem;">
            <div class="card-body">
                <h2 class="card-title text-info">Monthly Income</h2>
                <h4 class="card-subtitle mb-2 text-muted">Why do we need you monthly income?</h4>
                <p class="card-text">
                    Most bills or expenses occur on a month to month basis. And those that are not can be broken down
                    and made easier to manage in to monthly payments. Please click the button that best describes your ability to calculate your monthly
                    income.
                </p>
                <a href = "/calculate" class="btn btn-primary">I Need Help</a>
                <a href="/monthly" class="btn btn-secondary">I Know How To Do This</a>
            </div>
        </div>
    </div>
</body>
</html>