<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel = "stylesheet" href = "static/css/learn.css">
    <title>Information</title>
</head>
<body>
    <nav class = "navbar navbar-expand-lg bg-dark">
        <div class = "container-fluid">
            <h1 class = "text-info">Budget Miracle</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <a href = "/info" class = "btn btn-success me-3">Learn</a>
        <a href = "/home" class = "btn btn-warning me-3">Home</a>
        <a class = "btn btn-light me-3" href = "/logout">Logout</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-8 pt-4">
                <h2 class = "main-page-rule"><strong>The 50, 30, 20 Rule</strong></h2>
                <h4 class = "pt-3">Overview</h4>
                <p>
                    The 50, 30, 20 rule is a way that people like yourself can easily manage their money by simply putting their outgoing income into categories like bills, expenses, and savings. This helps to prioritize where your money should go each month and can really make your personal finance that much more fun.
                    Click through the dropdown boxes to learn more about this rule, and how the <strong>Budget Miracle</strong> can help you achieve your goals.
                </p>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                50% of your income...
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <strong>The steadfast and unfortunate truth is that most of your money will go to basic needs.</strong> In the <i><b>Budget Miracle</b></i> we have labelled those as <em>"Bills"</em>. This means all mandatory stuff that needs to 
                                be paid every month. Water, electricity, car, mortgage. All of these are absolute necessities and take priority over everything else. 
                                Hints why its taking half of your income. However, while it is a very important category, 50% is all it should take up. No extra car payment if you have one that works.
                                To sum it up, just <em>live within your means</em>, and plan carefully. Personal finance can be fun if you let it be.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                30% of your income...
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <strong>Next is the expenses. </strong>This category consists of outgoing expenses that can be moved around and altered to make things work. If you feel like you 
                                don't have a lot of breathing room from month to month then this is most likely where you will find it. There are some expenses that could be considered very important 
                                like gas and groceries; but, then you have your $80.00/month all access ESPN Hulu account that maybe you're spending a little too much money on. I'm not here to judge.
                                If you can make it work, and you have the money, then go right on ahead. I just want to re-iterate, <em>Live within your means</em>.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                20% of your income...
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <strong>Finally, let's talk about the remaining 20%.</strong> This last category is the easiest, in my personal opinion, to completely forget. However, it is probably 
                                one of the most important steps to help achieve your goal of financial freedom. This is the Savings category. Anything that you want that would take a pretty penny to get, 
                                this is where you draw out a plan and start saving for it on a monthly basis. Things like a vacation, a new custom PC, christmas shopping. But the heavy hitter here is your safety net. 
                                Start building up a nest egg for the bad times and rainy days. Set aside your own categories for emergency car maintenance, house maintenance and repair, debt payoff, etc.
                                It is all in your control. <em>Live within your means, </em> and when that money is put away, <strong>FORGET ABOUT IT, </strong>act like it doesn't even exist until you need it for 
                                the exact situation that you put it away for in the first place.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h2 class = "main-page-rule pt-4"><strong>Videos</strong></h2>
                <p><strong>The following are videos that can help fuel your curiosity. </strong></p>
                <dl>
                    <dt><a href = "https://www.youtube.com/watch?v=HQzoZfc3GwQ&t=12s" target = "_blank">50, 30, 20 rule by "WhiteBoard Finance"</a></dt>
                    <dd class = "pb-4">Video describing the 50, 30, 20 rule in full detail for more visual learners.</dd>
                    <dt><a href = "https://www.youtube.com/watch?v=pftx9Jx6N1Q" target = "_blank">Debt Snowball by "WhiteBoard Finance"</a></dt>
                    <dd class = "pb-4">Debt snowball is a tactic that can be used to tackle annoying debts.</dd>
                    <dt><a href = "https://www.youtube.com/@WhiteBoardFinance" target = "_blank">WhiteBoard Finance</a></dt>
                    <dd class = "pb-4">This is a link to the WhiteBoard Finance profile on YouTube. Check them out!!!</dd>
                    <dt><a href = "https://www.youtube.com/watch?v=wmkWMaGuTBQ" target = "_blank">8 Money Habits That Keep You Poor!!!</a></dt>
                    <dd>If you want to knock out some bad money habits, watch this video.</dd>
                </dl>
            </div>
        </div><div class="row">
            <div class="col-8">
                <h2 class = "main-page-rule pt-4">What is the Inspiration Behind the Budget Miracle?</h2>
                <p>
                    Hello, as I am writing this explanation for the purpose of this website I made, I find myself thinking about all of the difficult financial times 
                    that I could have easily avoided if given the proper knowledge. Everything I know about personal finance are just things that I have had to pick up 
                    on over the years. Then I learned about tracking what money your spending and why you are spending it. Then I learned about making a spreadsheet to 
                    actually keep record of these expenses. These are a few of the things that got me curious and interested in my own personal finance. It was all a learning 
                    curve for sure. Some of us didn't have a great personal finance class in high school, and those who did probably didn't give a single worry of what they 
                    were being taught. What teenagers really do? But, when it comes down to brass tax, I built this website for people like you and me to have a financial goal. 
                    The goal being financial freedom with time being of little cost. It takes time to build a spreadsheet that does everything you need it to. And with no prior knowledge 
                    of finance, it helps to have some tips along the way. That's what this is. 
                </p>
            </div>
            <div class="col-8">
                <p>In conclusion, I really hope that everyone of you that uses this application finds it helpful. I know I will.</p>
            </div>
        </div>
        <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ" target = "_blank" class = "btn btn-danger m-3">Do Not Push</a>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>